*{
    margin: 0%;
    padding: 0%;
}

.section{
    
    text-align: center;
    padding-left: 0%;


}
div{
    float: inline-start;
    width: 33%;
}

h2{
    text-transform: uppercase;
    font-size: 14px;
}